<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <sc.variable name="sourceFolder" value="E:\noproj\dotnet\2018-Coffee-ToCode\src" />
        <settings>
            <setting name="Rainbow.SFS.SerializationFolderPathMaxLength">
                <patch:attribute name="value">120</patch:attribute>
            </setting>
        </settings>
    </sitecore>
</configuration>