<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="CoffeeToCode.XA.Foundation.ExperienceEditor" description="CoffeeToCode XA Foundation ExperienceEditor" dependencies="" >
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\XA.ExperienceEditor\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="ExperienceEditor.Templates" database="master" path="/sitecore/templates/Foundation/Experience Editor" />
            <include name="ExperienceEditor.Client.Pipelines" database="core" path="/sitecore/client/Applications/ExperienceEditor/Pipelines/InitializePageEdit/CoffeeToCode" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>