<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="sourceFolder" value="C:\Projects\Hackathon\2018-Coffee-ToCode\src" />
    <unicorn>
      <configurations>
        <configuration name="CoffeeToCode.XA.Foundation.ExperienceEditor" description="CoffeeToCode XA Foundation ExperienceEditor" dependencies="" >
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\ExperienceEditor\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="ExperienceEditor.Templates" database="master" path="/sitecore/templates/Foundation/Experience Editor" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>